h1 {
  font: 2em sans-serif;
  text-align: center;
}

.initial-wrapper {
  text-align: center;
}

.initial {
  display: inline-block;
  height: 40px;
  border: 1px solid green;
}

.button-wrapper {
  text-align: center;
}

.group {
  display: inline-block;
}

.group .horsebg {
  animation-name: bgchange;
  animation-duration: 150ms;
}
.group .horsebg-alt {
  animation-name: bgchange-alt;
  animation-duration: 150ms;
}

@keyframes bgchange {
  from { background-color: #ccc; }
  to { background-color: #ccc; }
}
@keyframes bgchange-alt {
  from { background-color: #ccc; }
  to { background-color: #999; }
}


.horse {
  display: inline-block;
  color: #fff;
  text-align: center;
  font: .75em sans-serif;
  line-height: 22px;
  width: 24px;
  height: 24px;
  margin: 5px;
  border-radius: 12px;
}

.horsebg {
  background-color: #ccc;
}

.horsebg-alt {
  background-color: #999;
}
