h1 {
  font: 2em sans-serif;
  text-align: center;
}

.initial-wrapper {
  text-align: center;
}

.initial {
  display: inline-block;
  height: 40px;
}

.button-wrapper {
  text-align: center;
}

.group {
  display: inline-block;
}

.group .horsebg {
  animation-name: bgchange;
  animation-duration: 150ms;
}
.group .horsebg-alt {
  animation-name: bgchange-alt;
  animation-duration: 150ms;
}
.group .racedbg {
  animation-name: racedchange;
  animation-duration:500mx;
}

@keyframes bgchange {
  from { background-color: #ccc; }
  to { background-color: #ccc; }
}
@keyframes bgchange-alt {
  from { background-color: #ccc; }
  to { background-color: #999; }
}
@keyframes racedchange {
  from { background-color: #ccc; }
  to { background-color: green; }
}


.horse {
  display: inline-block;
  color: #fff;
  text-align: center;
  font: .75em sans-serif;
  line-height: 22px;
  width: 24px;
  height: 24px;
  margin: 5px;
  border-radius: 12px;
}

.horsebg {
  background-color: #ccc;
}

.horsebg-alt {
  background-color: #999;
}

.racedbg {
  background-color: green;
}
.racedbg:nth-child(5) {
  background-color:#f90;
}
.final {
  background-color: purple;
}
.first-place {
  background-color: gold;
}
